#canvas1{
    width: 500px;
    height: 600px;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;

}
#enemyControls{
    position: absolute;
    top:0%;
    left: 0%;
    height:30px;
    width:30px;
    text:center;
}